$Theme1Primary: #39566e;
$Theme1Secondary: #b16889;
$Theme1Background: #f9f6e7;
$Theme1Other: #d5b884;

$Theme2Primary: #18745c;
$Theme2Secondary: #f8c060;
$Theme2Background: #f3efe7;
$Theme2Other: #b59289;